<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, sans-serif; line-height: 1.6; background-color:
      #f0f0f0; background-image:
      url("https://rideshareng.com/images/swipe.png"); background-repeat:
      no-repeat; background-size: cover; } .container { width: 85%; margin:
      auto; overflow: hidden; } .content { margin-top: 40px; background: #fff;
      box-shadow: rgba(255, 248, 223, 0.2) 0px 8px 24px; padding: 50px;
      border-radius: 5px; } .footer { margin-top: 20px; text-align: center; }
      .footer small { color: rgba(0, 0, 0, 0.4); padding-bottom: 20px;
      padding-top: 20px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <img
          src='https://rideshareng.com/images/B.png'
          alt='RideShare'
          title='RideShare'
        />
        <br />
        <br />

        <p>Dear {{name}},</p>

        <p>
          Congratulations! Your driver account has been approved, and
          <br />
          you’re now officially part of the RideShare community.
        </p>

        <p>
          You’re joining a network of drivers who prioritize safety,
          <br />
          convenience, and affordability while earning on their own terms.
        </p>
        <br />
        <h3>
          What’s Next?
          <br />
          Here’s how to get started:
        </h3>
        <ol>
          <li>
            <strong>Set Your Availability:</strong>
            Log in to the RideShare app and
            <br />
            choose the hours that work best for you.
          </li>
          <br />
          <li>
            <strong>Choose Your Price:</strong>
            Customize your ride pricing to
            <br />
            reflect your preferred rates.
          </li>
          <br />
          <li>
            <strong>Define Your Route:</strong>
            Select the areas you’d like to operate
            <br />
            in and start taking rides today.
          </li>
        </ol>
        <br />
        <h3>Need Assistance?</h3>
        <p>
          Our team is here to support you every step of the way. If you have
          <br />
          questions or need help, don’t hesitate to contact us at
          <br />
          <a href='mailto:admin@rideshareng.com'>admin@rideshareng.com</a>
          or explore the Help Center in the app.
        </p>

        <p>
          Thank you for partnering with us to redefine transportation in
          Nigeria.
          <br />
          Together, we’re connecting people, one ride at a time.
        </p>
        <br />
        <p>Wishing you safe and successful journeys!</p>
        <br />
        <p>
          Best regards,
          <br />
          <br />
          The RideShare Team
          <br />
          Together, We Move.
        </p>
      </div>
    </div>
  </body>
</html>