<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, sans-serif; line-height: 1.6; background-color:
      #f0f0f0; background-image:
      url("https://rideshareng.com/images/swipe.png"); background-repeat:
      no-repeat; background-size: cover; } .container { width: 85%; margin:
      auto; overflow: hidden; } .content { margin-top: 40px; background: #fff;
      box-shadow: rgba(255, 248, 223, 0.2) 0px 8px 24px; padding: 50px;
      border-radius: 5px; } .footer { margin-top: 20px; text-align: center; }
      .footer small { color: rgba(0, 0, 0, 0.4); padding-bottom: 20px;
      padding-top: 20px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <img
          src='https://rideshareng.com/images/B.png'
          alt='RideShare'
          title='RideShare'
        />

        <br /><br />

        <p>Dear Ridestar {{name}},</p>

        <p>
          Congratulations! Your RideShare account has been successfully
          verified,
          <br />
          and you’re all set to book your first ride.
        </p>

        <p>
          We’re excited to have you as part of our community where
          affordability,
          <br />
          convenience, and connection come together.
        </p>
        <br />
        <h3>What’s Next?</h3>
        <p>Here’s how to start riding:</p>
        <ul>
          <li>
            <strong>Enter Your Pickup and Drop-Off Locations:</strong>
            Open the RideShare
            <br />
            app and input where you’re coming from and where you’re headed.
          </li>
          <br />
          <li>
            <strong>Choose Your Driver:</strong>
            Browse available drivers and select the one
            <br />
            that best suits your needs.
          </li>
          <br />
          <li>
            <strong>Negotiate Your Price:</strong>
            Agree on a price directly with your driver and
            <br />
            enjoy a ride that fits your budget.
          </li>
        </ul>
        <br />
        <h3>Need Help?</h3>
        <p>
          If you have any questions or need assistance, visit the Help Center in
          the
          <br />
          app for quick and easy support.
        </p>
        <br />
        <p>
          Thank you for choosing RideShare!
          <br />
          We’re thrilled to be part of your journey.
        </p>
        <br />

        <p>
          Best regards,
          <br />
          <br />
          The RideShare Team
          <br />
          Connecting People, One Ride at a Time.
        </p>
      </div>
    </div>
  </body>
</html>